### Python Data Structures and Boolean
This notebook will contain some examples using python codes:

1. Boolean
2. Boolean and Logical Operators
3. Lists
4. Comparison operators
5. Dictionaries
6. Tuples
7. Sets

## 1. Boolean

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
my_str="Manzurul Islam"

In [9]:
# There are tons of function for string. Some of them are as below.

my_str.isnumeric()

False

In [7]:
# Some string functions that return boolean value.

print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('m')) #test if string endswith a d
print(my_str.startswith('m')) #test if string startswith H

False
False
False
True
False
False
False
True
False

## 2. Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [14]:
False or False

False

In [15]:
str_example='Hello World'
my_str='Manzur'
my_str.isalpha() or str_example.isnum()

True

## 3. List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [16]:
lst_ex = []
type(lst_ex)

list

In [17]:
# List can be created by list() as well.
lst = list()
type(lst)

list

In [18]:
lst = ['Math', 'Physics', 100, 200, 300]
type(lst)

list

In [26]:
# Append to a list

lst.append('Manzur')
lst

['Math', 'Physics', 100, 200, 300, 'Manzur', 'Manzur', 'Manzur']

In [30]:
# Append and create a nested list
lst.append(['nahida', 'parvin'])

In [31]:
# Indexing
lst[1:3]

['Physics', 100]

In [33]:
lst

['Math',
 'Physics',
 100,
 200,
 300,
 'Manzur',
 'Manzur',
 'Manzur',
 ['nahida', 'parvin']]

In [34]:
# Inset some thing at your choice. Move items accordingly
lst.insert(1,'Manzur')

In [35]:
lst

['Math',
 'Manzur',
 'Physics',
 100,
 200,
 300,
 'Manzur',
 'Manzur',
 'Manzur',
 ['nahida', 'parvin']]

In [36]:
# Extend -  its just extending the exisiting list

lst = [1,2,3,4,5,6]

In [37]:
lst

[1, 2, 3, 4, 5, 6]

In [38]:
lst.extend([8,9])

In [39]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [41]:
# Inbuilt functions
sum(lst)

38

In [43]:
lst.pop()

9

In [44]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [45]:
lst.pop(2)
lst

[1, 2, 4, 5, 6, 8]

In [48]:
lst = [1,1,1,1,2,3,4,4,5,6]
print(lst.count(1), lst.count(4))

4 2

In [52]:
print(lst)
lst.index(4)

[1, 1, 1, 1, 2, 3, 4, 4, 5, 6]

6

### Sets
Set is an unordered collection data type that is iterable, mutable, and has NO duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table.

In [53]:
## Defining an empy set using inbuilt function

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [55]:
## Create a set using {}. It will contain unique values only

set_var = {1,2,3,4,3} 
print(set_var)

{1, 2, 3, 4}

In [57]:
set_var={"Avengers","IronMan",'Hitman', 'Hitman', 'ironman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan', 'ironman'}

set

In [59]:
# Set indexing
# Set does not support indexing, e.g., set_var[1] will not work, set_var['Avengers'] will not work as well

set_var['Avengers']

TypeError: 'set' object is not subscriptable

In [61]:
## Inbuilt functions in set. There are many. Check them in docs

set_var.add("Hulk")

In [62]:
print(set_var)

{'IronMan', 'Avengers', 'Hitman', 'ironman', 'Hulk'}

In [63]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [65]:
set2.intersection_update(set1)
print(set2)

{'Avengers', 'Hitman', 'IronMan'}

### Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [66]:
# There are some differences between creating sets and dictionaries. Have a lookm at the following codes

dic = {}
type(dic)

dict

In [67]:
dic = {1,2,3,4,5}
type(dic)

set

In [68]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [69]:
type(my_dict)

dict

In [70]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [71]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [72]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [73]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [74]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [75]:
my_dict['Car1']='VW'
my_dict

{'Car1': 'VW', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [76]:
## Nested Dict

car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [77]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}